doctype 5
html
	head
		title LGP Chess - #{title}
		link(rel='stylesheet', href='/css/site.css')
		link(rel='shortcut icon', href='/img/site/faviconNoBg.ico')
		block styles
	body
		#logo
			img(src='/img/site/logoSmooth.png', alt='LGP Chess')
		block content
		#signIn
			if user
				a.btn(href='/account') My account
				a.btn(href='/logout') Sign out
			else
				a.btn(href='/login') Sign in
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		//script(src='lib/jquery.min.js')
		block scripts