extends layout

block styles
	link(rel='stylesheet', href='css/openid.css')

block content
	#container
		form#openid_form.padded(action='/auth/openid', method='post')
			input(type='hidden', name='action', value='verify')
			#openid_choice
				p Please click your account provider:
				#openid_btns
			#openid_input_area
				input(id='openid_identifier', name='openid_identifier', type='text', value='http://')
				input(id='openid_submit', type='submit', value='Sign-In')
			noscript
				:markdown
					OpenID is service that allows you to log-on to many different websites using a single indentity.
					Find out [more about OpenID](http://openid.net/what/) and [how to get an OpenID enabled account](http://openid.net/get/).

block scripts
	script(src='lib/openid-jquery.js')
	script(src='lib/openid-en.js')
	script.
		$(document).ready(function() {
			openid.init('openid_identifier');
		});